@font-face {
  font-family: "norse-bold";
  src: url(../font/norse-bold.woff2) format("woff2"),
    url(../font/norse-bold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

:root {
  --content-pad: 1rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  position: relative;
  flex-direction: column;
  width: 100%;
  flex: 1 1 16rem;
}

.sidebar-bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sidebar-credits {
  position: absolute;
  color: #fff;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  top: 10%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo-img {
  width: 5rem;
}

.logo-title {
  color: #fff;
  font-family: "norse-bold", sans-serif;
  font-size: 5rem;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .sidebar {
    max-height: 100vh;
    flex: 1;
  }

  .logo-container {
    top: 25%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  background-color: #f9fafb;
}

.disclaimer {
  padding: var(--content-pad);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.disclaimer > p + p {
  margin-top: 1rem;
}

.form-controls {
  padding: var(--content-pad);
  margin-top: 2rem;
  background-color: #fff;
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 100%;
}

.form-row + .form-row {
  margin-top: 1.2rem;
}

.form-widget {
  flex: 1 1 200px;
}

.form-widget label,
.form-widget input {
  display: block;
  width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.submit-container {
  padding: var(--content-pad);
}

.submit-container button {
  margin-top: 2rem;
}

.submit-container p {
  margin-top: 1rem;
}

[aria-label="required"] {
  color: red;
  font-weight: bolder;
}
